<div class="wirelessCoffeeLocation">
    <div class="wirelessCoffeeGreenDot"></div>
    <div>
        <h3>{{location.name||'[New Location]'}}
            <small class="wirelessCoffeeEditLink" ng-click="toggleEditing()" ng-if="!hideToggle">{{editing?'Save':'Edit'}}</small>
            <small class="wirelessCoffeeEditLink" ng-click="deleteLocation()" ng-if="!hideToggle">Delete</small>
            <small class="wirelessCoffeeEditLink" ng-click="approveLocation()" ng-if="!(hideToggle||location.approved)">Approve</small>
        </h3>
        <p ng-show="editing">
            <b>📛&nbsp;&nbsp;Name:</b>
            <wireless-coffee-editable-text-field
                    wireless-coffee-data="location.name"
                    wireless-coffee-editing="editing">

            </wireless-coffee-editable-text-field>
        </p>
        <p>
            <b>🗺&nbsp;&nbsp;Location:</b>
            <wireless-coffee-editable-address
                    wireless-coffee-data="location.location"
                    wireless-coffee-editing="editing">
            </wireless-coffee-editable-address>
        </p>
        <p>
            <b>💻&nbsp;&nbsp;SSID:</b>
            <wireless-coffee-editable-text-field
                    wireless-coffee-data="location.ssid"
                    wireless-coffee-editing="editing">

            </wireless-coffee-editable-text-field>
        </p>
        <p>
            <b>🔒&nbsp;&nbsp;Password:</b>
            <wireless-coffee-editable-text-field
                    wireless-coffee-data="location.password"
                    wireless-coffee-editing="editing">

            </wireless-coffee-editable-text-field>
        </p>
    </div>
</div>
