.wirelessCoffeeNav {
    display: flex;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
}

.wirelessCoffeeFlexGrow {
    flex-grow: 1;
}

.wirelessCoffeeNav h2 {
    font-size: 1.25em;
}

.wirelessCoffeeNav h2 a {
    color: #111;
    text-decoration: none;
}

.wirelessCoffeeNav span a {
    color: #aaa;
    font-weight: bold;
    font-size: .75em;
    text-decoration: none;
}