.wirelessCoffeeLocations {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    display: block;
}

.wirelessCoffeeSearch {
    font-size: 2em;
    color: #111;
    font-family: -apple-system, 'SF UI Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    width: 100%;
    margin: 50px 0;
}

.wirelessCoffeeLocations input:focus {
    outline: none;
}

@media (max-width: 40em) {
    .wirelessCoffeeLocations input {
        font-size: 1.25em;
    }
}